{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{% static 'styles/style.css' %}">

        <!-- =====BOX ICONS===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <title>Terms of Use - Jijue</title>
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="#" class="nav__logo">Jijue</a>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="/" class="nav__link">Home</a></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">

 <!--===== Terms of Use Section =====-->
  <!--===== PRIVACY SECTION =====-->
  <section class="privacy section" id="privacy">
    <div class="privacy" style="text-align: justify; text-justify: inter-word;">

        <div>
            <h2 class="section-title">Terms of Use</h2>
       
            <p style="border: 20px; padding: 20px; font-size: 16px;">
                By using this site, you agree you understand the following information and accept these terms in full.
            </p>

        </div>

            <div style="padding:0px 20px 0px 20px;">
                <h2>Introduction</h2>
                <p style="font-size: 16px; margin-top: 10px;">
                    Jijue website was created by a multidisciplinary team of students from Jomo Kenyatta University of Agriculture and Technology. The aim of the web app is to provide a user-friendly platform for individuals to assess their HIV risk and connect them to Health Facilities for further management. 
                    <br>
                    The platform offers users the ability to access testing for HIV and other STIs; and links users to services, including PrEP, through networked service providers.
                </p>
            </div>

            <div style="padding:0px 20px 0px 20px; margin-top: 20px;">
                <h2>Information on HIV</h2>
                <p style="font-size: 16px; margin-top: 10px;">
                    HIV is the virus that causes AIDS and can be transmitted through unprotected sex (vaginal, anal, or oral sex) 
                    with someone who is living with HIV; contact with blood through sharing needles (ex. injecting drugs); 
                    or from pregnant women living with HIV to their infants during pregnancy, delivery, or breast feeding.
                    <br>
                    <br>
                    Individuals with HIV/AIDS can adopt safe practices to prevent transmitting HIV to others.
                </p>
            </div>
                    
            <div style="padding:0px 20px 0px 20px;margin-top: 20px;">
                <h2>Terms</h2>
                <p style="font-size: 16px; margin-top: 10px;">
                    1. Sensitive personal information including your profile, clinical history and test results will be stored by Jijue but will only be used to provide you with better care options. The data will be protected under the standard privacy laws of Kenya.
                    <br>
                    <br>
                    2. No identifiable information obtained through the use of the platform will be disclosed to other entities without your consent. The laws that protect the privacy and confidentiality of medical information also apply to information procured by Jijue.
                    <br>
                    <br>
                    3. You have the right to inspect all information obtained and recorded in the course of a telemedicine interaction, and may receive copies of this information
                    <br>
                    <br>
                    4. If you opt for teleconsultation, the session may be recorded for reference but the recordings will not be used for advertising and will be protected along with other sensitive identifiable information.
                    <br>
                    <br>
                    5. You may choose one or more of the variety of alternative methods of medical care which are available through networked service providers at any time. Your Virtual Counsellor will be available to explain the alternatives.
                    <br>
                    <br>
                    6. Jijue may electronically share your personal medical information to other medical practitioners who may be located in other areas, including out of state, however who have been vetted and registered with the platform.
                    <br>
                    <br>
                    7. The Virtual Counsellor appointed to you may be authorized by you to use the platform on your behalf, including setting up an account, uploading test results and booking appointments, home pick-ups or follow-up procedures.
                    <br>
                    <br>
                    8. You may be contacted for follow up of services to improve your health outcomes through the services sought at Jijue.
                    <br>
                    <br>
                    9. You have the right to withhold or withdraw your consent for the use of the platform Jijue at any time, without affecting your future care or treatment.
                    <br>
                    <br>
                    

                </p>


            </div>
            
    </div>
</section>
 
           
        </main>
    </body>

        <!--===== FOOTER =====-->
        <footer class="footer">
            <p class="footer__title">Jijue</p>
            <div class="footer__social">
                <a href="#" class="footer__icon"><i class='bx bxl-facebook' ></i></a>
                <a href="#" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
                <a href="#" class="footer__icon"><i class='bx bxl-twitter' ></i></a>
            </div>
            
            <p>      
                Copyright
                    <script>
                        document.write(new Date().getFullYear());
                    </script> &#169; Jijue | All rigths reserved
                    <p> 
                        <a href="{% url 'privacy' %}" class="footer__link" style="color: blue; text-decoration: underline;">Privacy & Policy</a> | 
                        <a href="{% url 'terms' %}" class="footer__link" style="color: blue; text-decoration: underline;">Terms of Use</a>
                    </p>
            </p>
        </footer>


        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--===== MAIN JS =====-->
        <script src="{% static 'js/main.js' %}"></script>
    
</html>
