{% extends 'appointment/base.html' %}
<!-- space -->
{% block content %}
<select
  name="county"
  id=""
  class="custom-select mb-4"
  hx-get="{% url 'sub-county' %}"
  hx-trigger="change"
  hx-target="#sub-county"
>
  <option selected>Select county</option>
  {% for county in counties %}
  <option value="{{ county.pk }}">{{ county.name }}</option>
  {% endfor %}
</select>
<!-- for subcounties -->
<div id="sub-county" class="my-4">{% include 'partials/sub_county.html' %}</div>
<!-- for tutors -->
<div id="ward" class="my-4">{% include 'partials/ward.html' %}</div>
{% endblock %}
