{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Book appointment</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />

    <link href="{% static 'styles/style.css' %}" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>

  <style>
    {% block style %}{% endblock style %}
  </style>

  <body>
  <header>
      <nav class="nav bd-grid">
        <div>
            <a href="#" class="nav__logo">Jijue</a>
        </div>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item"><a href="/" class="nav__link">Home</a></li>
                
                {% if request.user.is_authenticated %}
                <li class="nav__item" role="presentation">
                  <a class="nav__link" href="{% url 'manage' %}">Manage</a>
              </li>
                
                <li class="nav__item" role="presentation">
                  <a href="{% url 'manage' %}" style="float: left;cursor:pointer;" aria-expanded="true" title="You have {{count}} new appointments">
                    <i class="far fa-bell"></i>
                </a>
                <span class="badge badge-danger">{{count}}</span>
              </li>
                {% endif %}
            </ul>

        </div>
        <div class="nav__toggle" id="nav-toggle">
            <i class='bx bx-menu'></i>
        </div>
    </nav>
  </header>
   

      {% block cta %}{% endblock cta %}
    </div>

    <script
      type="text/javascript"
      src="{% static 'js/bootstrap.min.js' %}"
      src="{% static 'js/bootstrap.js' %}"
    ></script>

    <script>
      {% block script %}{% endblock script %}
    </script>
  </body>
</html>
