{% extends 'base.html' %}
{% load static %}


{% block cta %}


<section class="home bd-grid" id="home">
    <div class="home__data">

        <h1 class="home__title">JIJUE PROVIDES EXCEPTIONAL MEDICAL COUNSELLORS <br> FOR YOU</h1>
        <h3> You don't have to figure it out alone. </h3>

        <a href="{% url 'appointment' %}" class="button">Book appointment</a>

    </div>
</section>

<!-- <section>
        <div class="apptmnt_content">

                <div class="home__data">
                    <h2 class=""> Jijue provides exceptional <br> medical consellors for you. </h2>
                    <p> You don't have to figure it out alone. </p>
                </div>

                <div class="button" >
                    <a href="{% url 'appointment' %}" class="button" type="button">Book an appointment</a>
                </div>

        </div>
</section> -->

{% block content %}

<!-- End -->

{% endblock content %}
{% endblock cta %}