{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{% static 'styles/style.css' %}">

        <!-- =====BOX ICONS===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <title>Nutrition Tips</title>
</head>
<body>
     <!--===== HEADER =====-->
     <header class="l-header">
        <nav class="nav bd-grid">
            <div>
                <a href="/" class="nav__logo">Home</a>
            </div>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="" class="nav__link active">Food</a></li>
                    <li class="nav__item"><a href="#health" class="nav__link">Health</a></li>
                    <li class="nav__item"><a href="#fitness" class="nav__link">Fitness</a></li>
                    <li class="nav__item"><a href="#kids" class="nav__link">Kids</a></li>
                    <li class="nav__item"><a href="#seniors" class="nav__link">Seniors</a></li>
                    <li class="nav__item"><a href="#men" class="nav__link">Men</a></li>
                    <li class="nav__item"><a href="#women" class="nav__link">Women</a></li>
                    <li class="nav__item"><a href="#foodsafety" class="nav__link">Food Safety</a></li>
                </ul>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header>
    <main class="l-main">

        <section  class="contact section" id="nutrition">
            <h3 style="font-size: 24px;" class="section-title">General Dietary Guidelines</h3>
            <div class="contact__container bd-grid">
                <h3>What is a Whole Grain?</h3>
                <img src="assets/img/grain.jpg" alt="">
                Next time your kids want a snack, look to whole grains. They not only are nutritious but also delicious!
                <br>

                Whole grains contain three parts: the bran, the germ and the endosperm (refined grains only contain the endosperm). The bran and germ help keep your body healthy, your skin glowing and your hair shiny. Including whole grains as part of a healthy diet can help reduce the risk for heart disease, diabetes and some cancers.
                <br>
                Barley, quinoa, oats, brown rice, or whole-grain pastas, breads and cereals are some whole-grain foods. When reading food labels, look for the words "whole grain" in the ingredient list. Also, choose products high in fiber with fewer added sugars.
                <br>
                <br>
                Be a savvy consumer when buying whole grains — words like multi-grain, stone-ground, 100% wheat, cracked wheat, seven-grain and bran don't necessarily indicate a whole-grain food. Color also is not a reliable way to pick a whole-grain product. Sometimes molasses or other added ingredients give a food that nice brown color.
                <br>
                There are many tasty kid-tested whole-grain snack options. Half of a whole-grain pita pocket stuffed with ricotta cheese and Granny Smith apple slices with a dash of cinnamon is a great small bite. Or, for kids to eat on the run, combine ½ cup ready-to-eat whole-grain cereal, dried fruit and nuts for an on-the-go snack.
                <br>
                <br>
                Did you know that many schools serve whole-grain options? Guidelines that schools try to follow, include:
                <br>
                 - Offering whole grains with at least 8 grams or more per serving.
                 <br>
                 - Buying products that include the FDA-approved whole-grain health claim on its packaging.
                 <br>
                 - Making sure that product ingredient lists state whole grains first.
                 <br>
                 - Try swapping out refined grains and white breads and pastas for whole-grain varieties.
                 <br>
                 <br>
                 To gradually introduce whole grains to your family, you can combine whole-grain foods and the refined grain foods they’re used to until everyone’s palate has adjusted to whole grains. Aim to make at least half of a day’s grains whole grains                
            </div>

            <div class="contact__container bd-grid">
                <h3>Are Canned Foods Nutritious for My Family?</h3>
                <img src="assets/img/canned-foods.jpg" alt="">
                Canned foods can play an important role in an overall healthy diet. People who consume more canned foods tend to have a higher intake of fruits and vegetables and a higher intake of nutrients compared to people who consume fewer canned fruits and vegetables.
                <br>

                <h4>How Canned Foods are Made</h4>
                Canned fruits and vegetables usually are canned within hours after picking. Some procedures may vary depending on the food item, but once the fruit or vegetable has been picked and transported to the canning facility, it goes through three major steps.
                <br>
                1. Processing: Fruits and vegetables are washed and often peeled, cut, chopped or pitted before canning. Certain varieties of fruits and vegetables may be blanched beforehand. Dried beans are hydrated and blanched. Once the food is prepared, the cans are filled with either water or juice and seasoned accordingly.
                <br>
                2. Sealing: After processing, the food is put into cans and the lid is sealed.
                <br>
                3. Heating: Once the can is sealed, it is quickly heated to a precise temperature for a specified amount of time to kill harmful bacteria and prevent spoilage. After it is heated, it is quickly cooled.
                <h4>Benefits of Canned</h4>
                Fruits and vegetables used for canning are picked at peak freshness, ensuring the best flavor and nutrient quality. Canned foods can be just as nutritious as fresh and frozen foods because canning preserves many nutrients. The amount of minerals, fat-soluble vitamins, protein, fat and carbohydrate remain relatively unchanged by the process of canning. But, because the canning process requires high heat, canned goods may have less water-soluble vitamins such as vitamin C and B vitamins. However, the heating process that may harm some vitamins can actually increase the antioxidant content. For instance, canning increases the amount of lycopene in tomatoes.
                
                Canned foods are a convenient and affordable way to incorporate more fruits and vegetables into your diet. The process of canning ensures a long shelf life of at least one to five years. This may be beneficial for individuals who often throw away fresh produce due to spoilage.
                
                <h4>Making Wise Choices</h4>
                While canned foods can be easy and convenient, there are factors to consider when choosing nutritious options. When purchasing canned fruit, pick varieties that are canned in water, 100% juice or in its own juices. Many varieties of fruit come packed in light or heavy syrup, which equates to added sugars. Choose canned vegetables without added salts, labeled “no salt added” or “low sodium.” Be mindful that cans marked “reduced sodium” are not necessarily sodium-free. Draining and rinsing canned beans and vegetables can reduce the sodium content as well.
                <br>
                Avoid cans with dents, bulges, cracks or leaks. This may be a sign of the bacteria that causes botulism. Damage to the can may allow air to enter, creating the ideal environment for Clostridium botulinum to grow. Botulism is more common in home-made canned goods that are improperly handled and is extremely rare in commercially packaged canned goods.
            </div>

            <div class="contact__container bd-grid">
                <h3>Benefits of Coffee</h3>
                <img src="assets/img/cup-of-coffee.jpg" alt="">
                Wake up and smell the … antioxidants?
                <br>
                <br>
                If you think your morning cup of joe provides nothing more to your body than a jolt of caffeine, you might be pleasantly surprised to learn that your daily cup may provide some additional benefits as well. Drinking moderate amounts of coffee has been linked to lower risk of cardiovascular disease, Type 2 diabetes and Parkinson's disease.
                <br>
                And those antioxidants? Although researchers have yet to determine the exact mechanisms behind some of the disease-preventing effects, it is important to keep in mind that these compounds may be exerting other beneficial effects, such as acting as an anti-inflammatory. Coffee also contains small amounts of some nutrients, including potassium, niacin and magnesium.
                <br>
                Making your coffee a vehicle for fat-free or low-fat milk is one way to increase your daily calcium and vitamin D intake. If your diet does not include dairy, a fortified soy beverage is a calcium-rich alternative. Just be mindful if adding sweetener, since coffee drinks can be a source of added sugars.
                <br>
                So how much java is too much? Three to five 8-ounce cups of coffee provide about 400 milligrams of caffeine, which is the most that is recommended per day for healthy adults. Certain groups, such as people with hypertension and the elderly, may be at a higher risk for negative side effects of caffeine and so should consider limiting their intake. Pregnant and breastfeeding women will also want to limit caffeine and should discuss their intake with a health care provider. Due to coffee being a stimulant, it is not recommended for children and adolescents.
            </div>

        </section>


        <section class="contact section" id="health">
            <h2 class="section-title">Health and Immunity</h2>
    
            <div class="contact__container bd-grid">
                <img src="assets/img/market.jpg " alt="">
                1. Consume adequate calories according to age and sex throughout the day to maintain a
                healthy weight.
                <br>
                2. Add protein to every meal as it is needed to make, repair and maintain cells in the body as
                well as the immune system.
                <br>
                3. A variety of vitamin and mineral rich foods - zinc and vitamin C are used by the immune
                system, iron and vitamin B-12 are essential for healthy blood cells.
                <br>
                4. Discuss dietary and herbal supplements with your doctor, ask about new supplements before
                starting to use them.
                <br>
                5. Be vigilant about food safety - to avoid food poisoning, avoid eating rae or undeecooked
                meat, fish and eggs. Only consume pasteurized milk or cheese, wash fruits and vegetables ,
                remember to use separate knives and cutting boards for raw meats and produce.               
               
            </div>
        </section>


        <section class="contact section" id="fitness">
            <h2 class="section-title">Fitness</h2>
            
    
            <div class="contact__container bd-grid">
                <img src="assets/img/gameday.jpg" alt="">
                • How much exercise is needed to prevent illness? At least 150 minutes per week.
                <br>
                • Adults should participate in at least 150 minutes of moderate intensity aerobic physical activity
                per week including at least 2 days of muscle strengthening activities.
                <br>
                • Exercising up to 300 minutes a week has even better effects.
                <br>
                Avoid being sedentary all through the day even if you hit the gym in the evening :
                <br>
                • Park away from the building to walk a bit
                <br>
                • Use a standing or walking desk.
                <br>
                • Take a brisk walk after lunch.
                <br>
                • Stand during phone calls.
                <br>
                • Drink enough water that you use the restroom often.
                <br>
                • Play pool, go for a walk or play lawn games instead of watching TV.
                <br>
                • Avoid sitting all the time, physical imactivity is anytime you are not standing or moving.

               
            </div>
        </section>



        <section class="contact section" id="kids">
            <h2 class="section-title">Kids</h2>
    
            <div class="contact__container bd-grid">

                <h3>HOW TO IMPROVE KIDS' APPETITE</h3>
                <img src="assets/img/kids.jpg" alt="">
                1. Kids are better followers than they are listeners, set a good example by eating healthy,
                choosing healthy snacks and they will follow what you do.
                <br>
                2. Get the children involved in choosing healthy foods at the supermarket so that they own the
                choices as they enjoy shopping.
                <br>
                3. Prepare more homecooked meals for the family to encourage children to eat more healthy
                homecooked meals and form a culture.
                <br>
                4. Outdoor cooking activities, camping, grill, kitchen garden as well as playing witj the children
                outside to make them more active and improve their appetite.
                <br>
                5. Both parents to walk the talk, eat as healthy as you tell the children to eat.
                <br>

                <h3>EAT HEALTHY KIDS</h3>
                <br>
                1. Serve regular balanced meals and snacks with a variety of nutrient rich foods.
                <br>
                2. Children are extremely active but eat a little at a time hence :
                <br>
                • They should receive a lot of high energy foods such as carbohydrates in the form of whole
                grain cereals, full fat dairy or soy milk, vegetable oils, fruits (two servings) and vegetables in
                boiled baked or steamed orsautèèd form (three servings). A little butter is also helpful in adding
                energy for their needs.
                <br>
                
                <h3>CHOOSING FOODS FOR CHILDREN</h3>
                <br>
                1. Vegetables - coloured veges of different types leafy and non leafy, legumes.
                <br>
                • 5-6 serving of fruits and vegetables should be given daily.
                <br>
                2. Fruits - a variety of types, canned or fresh but with no added sugar, small fruits such as plums
                or an ounce of dried fruits.
                <br>
                3. Whole grains - breads, pasta, oats and cereals 4-6 servings a day.
                <br>
                4. Proteins - lean meats, poultry, eggs, fish, tofu, nuts, seeds, legumes ( beans, pulses and
                peas) 1-2 servings a day.
                <br>
                5. Milk and milk products including curds and cheese are a great source of healthy fats and
                proteins or soy milk enriched with calcium.
                <br>
                6. Fiber is important to prevent constipation but too much is counterproductive. Sources include
                vegetables, fruits and whole grains.
                <br>
                7. Water should be given in plenty as well as fresh fruit juices with no added sugars.
                <br>
                8. Nutritous snacks like fruits cut up in small pieces.
            </div>
        </section>



        <section class="contact section" id="seniors">
            <h2 class="section-title">Seniors</h2>
    
            <div class="contact__container bd-grid">
                1. Eat fruits and vegetables fresh, frozen or canned. Eat more dark green vegetables such as leafy greens like collard greens, mustard greens, orange vegetables such as carrots, pumpkins, butternut squash and sweet potatoes.
                <br>
                2. Vary protein choices with more fish, beans and peas. Lean proteins such as lean meats, seafoods, eggs.
                <br>
                3. Eat at least 3 ounces of whole grain cereals, breads, crackers, rice or pasta everyday. Choose whole grains whenever possible.
                <br>
                4. Have 3 servings of low fat or fat free dairy (milk, yoghurt or cheese) that are fortified with vitamin D to help keep your bones healthy.
                <br>
                5. Make the fats you eat polyunsaturated and monounsaturated fats. Switch from solid fats to oils when preparing food.
                <br>
                6. Add physical activity at least 30 minutes everyday which can be broken into 3 - 10 minute
                sessions throughout the day.
                <br>
                7. For someone who is currently inactive, start with a few minutes of activity such as walking and gradually increase this time as they become stronger. Always check with a health care provider before beginning a new physical activity program.
                <br>
                8. Choose foods that are more in fibre and high in vitamin D, and less in sodium or salt.
                <br>
                9. Stay hydrated taking small amounts of fluids throughout the day, tea, coffee, uji and water are your best choices.
                
                
            </div>
        </section>




            <section class="contact section" id="men">
                <h2 class="section-title">Men</h2>
        
                <div class="contact__container bd-grid">
                    1. Two to three cups of fruits, and two and a half to four cups of vegetables each day to provide adequate vitamins,minerals dietary fibre and phytinutrients
                    <br>
                    2. Six to Ten ounce equivalents of grains each day, make at least half of your grains whole grains like whole grain wheat, whole grain bread, whole wheat pasta, brown rice, oats.
                    <br>
                    3. Five to Seven ounce equivalents of proteins a day, with 8 ounces from a variety of seafood (contaims omega 3) each week.
                    br
                    4. Three cups of diary or calcium fortified soy equivalent daily these as well meet the potassium requirements
                    <br>
                    5 Average calorie requirement for moderately active adult males is 2,200-2,800 per day to provide energy throughout the day, fuel our brains to work and give energy for physical activities.
                    br
                    6 Cut down on saturated fat from high fat meats, full fat dairy products and deep fried foods. Instead opt for unsaturated heart healthy fats such as canola oil, olive oil, nuts, seeds and avocados
                </div>
                <div class="contact__container bd-grid">
                    <h3>Supplements and Men's Health</h3>
                    <img src="assets/img/men.png" alt="">
                    Food should be your first source of nutrients, including fruits, vegetables, whole grains, lean protein, low-fat or fat-free dairy products, nuts, seeds, beans and healthy fats. Following a balanced eating pattern is the best way to get the nutrients your body needs, including protein, vitamins and minerals.
                    <br>
                    If you are not following a balanced eating pattern, getting enough sleep or physically active on a regular basis, you may not have good energy levels. When you're not getting all the nutrients you need or in the recommended amounts, your body also may have trouble fending off illness, and dietary supplements may be necessary for an additional nutrient boost. But before taking a supplement, talk with your health care provider. It's important to know about safety and usefulness of supplements before making a decision.
                    <br>
                    <h4>Safety of Dietary Supplements</h4>
                    Be careful when choosing supplements. While dietary supplements are under the purview of the U.S. Food and Drug Administration, they are regulated differently than conventional foods and drugs. Manufacturers do not have to prove a supplement is safe or even that it works before it is sold. The FDA can take action to remove or restrict the sale of a supplement only after it has been on the market and been proven unsafe.
                    <br>
                    <h4>The Role of Fortified Foods</h4>
                    Supplements don't only come in a bottle. Many foods including cereals, breads, pastas, energy bars and drinks are enriched or fortified with vitamins, minerals, herbs and amino acids — the building blocks of proteins.
                    <br>
                    There are different reasons supplements may be recommended for men. They might include:
                    <br>
                    Bone Health: Calcium and vitamin D are key nutrients for bone health. If you fall behind on getting these nutrients, you may need a supplement separate from a regular multivitamin, since multivitamins usually do not contain enough calcium to meet recommendations.
                    <br>
                    Men need 1,000 milligrams of calcium a day. Men older than age 70 need 1,200 milligrams a day, and teens need 1,300 milligrams a day.
                    Men also need 600 IU of vitamin D each day. After age 70, this increases to 800 IU of vitamin D.
                    Eye Health: Carotenoids, such as lutein and zeaxanthin, may play a role in eye health. Focus on including fruits and vegetables such as kale, spinach, carrots, cantaloupe, sweet potatoes and broccoli into your day.
                    <br>
                    Foods should be factored in when considering a dietary supplement. Consuming too much of one nutrient may pose serious health threats. Consult a registered dietitian nutritionist to help evaluate your daily eating pattern prior to starting a supplement regimen
                </div>
            </section>

            <section class="contact section" id="women">
                <h2 class="section-title">Women</h2>
        
                <div class="contact__container bd-grid">
                    <h3>Safe Sources of Omega-3 Fats for Pregnant Women</h3>
                    <img src="assets/img/salmon.jpg" alt="">

                    The Omega-3 fatty acids are essential fats. If you're pregnant, they may take on a greater level of "essential-ness." Alpha-linolenic acid, or ALA, and linoleic acid can only be gotten from your diet but they may help make two other types of fatty acids, eicosapentaenoic acid, or EPA, and docosahexaenoic acid, or DHA. Many studies suggest these fats, particularly EPA and DHA, bring several benefits to both moms-to-be and the babies they carry.
                    <br>
                    Fish is the richest food source of DHA and EPA, but most Americans eat very little seafood. The 2020-2025 Dietary Guidelines for Americans recommend women who are pregnant or breastfeeding consume at least 8 and up to 12 ounces per week of a variety of DHA-rich seafood low in mercury. This amount is associated with improved infant health outcomes. Too much mercury in the body during pregnancy can harm a developing baby's brain and nervous system.
                    <br>
                    <h4>Benefits vs. Risk</h4>
                    Seafood is an excellent source of protein, provides several vitamins and minerals, and is low in saturated fat all of which are good attributes for a healthful food. Omega-3s ramp up the health aspects for pregnant women by potentially improving brain and vision development in the baby.
                    <br>
                    <h4>What's a Pregnant Woman to Do?</h4>
                    The U.S. Food and Drug Administration and Environmental Protection Agency released a chart, "Advice About Eating Fish," to help women and parents understand better seafood choices. The initiative recommends all women of childbearing age, especially those who are pregnant or breastfeeding, consume 2 to 3 servings of fish per week from the "best choices" list, which includes catfish, cod, salmon and sardines or 1 serving from the good choices list. Choices to avoid are highest in mercury levels and include shark and swordfish.
                    <br>
                    What about vegetarians? Because of DHA's beneficial effects on improving infant brain and vision development, pregnant vegetarians should choose DHA-fortified foods or eggs from hens fed DHA-rich microalgae or use a microalgae-derived DHA supplement. For more information about appropriate supplement use, consult your doctor.


                    <br>
                    <br>
                    <br>


                    A healthy eating plan regularly includes:
                    <br>
                    1. 75g of whole grains such as whole grain bread, whole wheat cereal flakes, whole wheat
                    pasta, brown rice or oats.
                    <br>
                    2. 3 servings of low fat or fat free dairy products including milk, yoghurt or cheese or calcium -
                    fortified soymilk.
                    <br>
                    *Non dairy sources of calcium for those who do not consume dairy products include calcium
                    fortified foods and beverages, canned fish and some leafy greens.
                    <br>
                    3. 125g of protein foods such as lean meats, poultry, seafood, eggs, beans, lentils, tofu, nuts
                    and seeds.
                    <br>
                    4. 1 1/2 to 2 cups of fruits, fresh, frozen, canned or dries without added sugars.
                    <br>
                    5. 2 to 2 1/2 cups of coloured vegetables fresh, frozen or canned without added salt
                    <br>

                    <h3>IRON RICH FOODS</h3>
                    <br>
                    *Iron needs are higher when pregnant and lower after menopause.
                    <br>
                    *Iron rich foods include: turkey, pork, red meat, chicken, fish, kale, spinach, beans, lentils and
                    some fortified ready to eat cereals
                    <br>
                    *Plant based sources of iron are more easily absorbed by your body when eaten with vitamin C
                    rich foods.
                    <br>
                    *To get both of these nutrients in the same meal you could try fortified cereal with strawberries
                    on top, spinach salad with mandarin orange slices or add tomatoes to lentil soup.
                    <br>

                    <h3>CALCIUM RICH FOODS</h3>
                    <br>
                    *Low fat or fat free milk, yogurt and cheese, sardines sesame seeds, green leafy vegetables,
                    calcium fortified foods and beverages, plant based milk alternatives.
                    <br>
                    *Vitamin D fatty fish such as salmon, eggs, fortified foods and beverages like milk, yogurts,
                    juices, plant based milk alternatives.
                    
                    
                </div>
            </section>






            <section class="contact section" id="foodsafety">
                <h2 class="section-title">Food Safety</h2>
        
                <div class="contact__container bd-grid">
                    <h3> How to prevent the spread of bacteria</h3>
                    <img src="assets/img/foodsafety1.jpg" alt="">
                    Illness-causing bacteria can survive and spread across your kitchen, so it is important to clean properly to prevent them from spreading to your food. What's the right way to wash up?
                    <br>
                    1. Wash hands for at least 20s with soap and running water before preparing food or eating food
                    <br>
                    2. Wash surfaces, cutting boards, dishes and cooking utensils with hot soapy water after every use to prevent bacteria from spreading throughout the kitchen.
                    <br>
                    3. Rinse produce under running water no soap required.
                    <br>
                    5 Avoid washing meat, seafood, poultry and eggs as this may actually spread more bacteria to spread.
                    <br>
                    6 Sanitize sponges daily and replace frequently, as well as dish clothes and towels om a regular basis.
                    <br>
                    <br>
                    <h3>HOW TO KEEP YOUR PRODUCE FRESH</h3>
                    1. Purchase directly from the market, get the produce in seasom for fresh produce, choose the best with no moulds or cuts and select the amount you need for a the week only.
                    <br>
                    2. Refrigerate produce that needs refrigeration two hours after buying and store those that don't need under good temperature to avoid going bad.
                    <br>
                    3. Preparation wash under running tap water before use, cut away any bruises or bad parts, use different cutting boards to prevent cross contamination, cook well those that cannot be eaten raw.
                <h3>PACKED FOOD HYGIENE</h3>
                • Your lunch box use an insulated lunch box or bag to keep perishable food cold.
                <br>
                • When eating outside ot at work packed lunch, have hand sanitizers, disinfectant wipes, reheat properly before eating especially refrigerated food.
                </div>
            </section>

</main>


<!--===== FOOTER =====-->
<footer class="footer">
    <p class="footer__title">Jijue</p>
    <div class="footer__social">
        <a href="#" class="footer__icon"><i class='bx bxl-facebook' ></i></a>
        <a href="#" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
        <a href="#" class="footer__icon"><i class='bx bxl-twitter' ></i></a>
    </div>
    
    <p>
                
    Copyright
        <script>
            document.write(new Date().getFullYear());
        </script> &#169; Jijue | All rigths reserved | Privacy & Policy</p>
</footer>


<!--===== SCROLL REVEAL =====-->
<script src="https://unpkg.com/scrollreveal"></script>

<!--===== MAIN JS =====-->
<script src="{% static 'js/main.js' %}"></script>


</body>
</html>