{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{% static 'styles/style.css' %}">

        <!-- =====BOX ICONS===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <title>Privacy Policy - Jijue</title>
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="#" class="nav__logo">Jijue</a>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="/" class="nav__link">Home</a></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">

 <!--===== PRIVACY SECTION =====-->
 <section class="privacy section" id="privacy">
    <div class="privacy" style="text-align: justify; text-justify: inter-word;">

        <div>
            <h2 class="section-title">Jijue Privacy & Data Use Policy</h2>
       
            <p style="border: 20px; padding: 20px; font-size: 16px;">
            Client confidentiality is extremely important at Jijue. Our trained management, 
            outreach and counselling staff carefully support clients and handle their information securely.
            Here we explain what data may be collected on Jijue, how we use that data, and our protocol for 
            protecting the confidentiality of our clients and their information. 
            </p>

        </div>

            <div style="padding:0px 20px 0px 20px;">
                <h2>What information do I share with Jijue?</h2>
                <p style="font-size: 16px; margin-top: 10px;">You may share some information with us to assess your HIV and sexual health needs and book services at our clinical partners.</p>
                    <div>
                        <h3 style="font-weight: 600;text-decoration: underline;" >Assessing your HIV and sexual health needs</h3>
                        <p style="font-size: 16px; margin-top: 10px;">
                            Use the risk assessment to receive HIV and sexual health service recommendations that are tailored to your needs. The risk assessment will ask questions about your HIV testing history, 
                            current HIV status and several factors that may impact your sexual health needs, like gender, sexuality, and several HIV risk factors. This information provides you with the most relevant service 
                            recommendations. We routinely use this data to help us ensure we reach all populations and improve our outreach and service delivery. Your responses on the risk assessment are kept confidential 
                            and are not shared with Jijue client support team and not shared with our clinical partn
                        </p>
                        
                    </div>

                    <div>
                        <h3 style="font-weight: 600;text-decoration: underline;">Booking services</h3>
                        <p style="font-size: 16px; margin-top: 10px;">
                            Use the appointment booking feature to find HIV and sexual health services near you and book an appointment for a day and time that is convenient for you. 
                            Using Jijue, you can book services at private labs, private providers, or receive support to be linked to public services. When you book an appointment, 
                            you may share your GPS location (optional), age (in years), name or nickname, phone number, and the services you would like to receive during your appointment. 
                            Your phone number enables us to provide pre and post-test HIV counseling and help link you to any follow-up prevention or treatment services. 
                            If you enable location sharing with us, our clinical service offerings will be prioritized to show you the nearest services first. 
                            If you refuse to share your location, you can simply choose your city and neighborhood where you would like to find service offerings.
                        </p>

                    </div>
            </div>

            <div style="padding:0px 20px 0px 20px;margin-top: 20px;">
                <h2>What information does Jijue share with clinical providers? </h2>
                <p style="font-size: 16px; margin-top: 10px;">
                    Jijue shares some information with clinical providers to help facilitate your appointment. This includes the information you enter to book an 
                    appointment on Jijue like your name, phone number, services requested, date and time of appointment. 
                    This data is used to confirm your appointment and to verify when you reach the VCT. 
                    Your responses on the risk assessment are not shared with the clinics.
                </p>


            </div>

            <div style="padding:0px 20px 0px 20px;margin-top: 20px;">
                <h2>What information do clinical partners/VCT centres share with Jijue? </h2>
                <p style="font-size: 16px; margin-top: 10px;">
                    To facilitate secure data sharing and reporting, Jijue signs a memorandum of understanding (an “agreement) 
                    with all our clinic partners which binds the clinics to maintain absolute confidentiality and treat client data 
                    with extreme sensitivity. This agreement allows us to share your appointment information with clinical partners and for 
                    clinical partners to securely report to Jijue when you access services and report your diagnostic test results. 
                    The test results are secured at a password protected system and only accessed by a data manager for 
                    reporting and improving our services. It also ensures that we reach populations most in need of HIV services and 
                    ensure that follow-up prevention, testing and treatment services can be offered to every client requesting 
                    services on Jijue. You can choose whether to share your diagnostic test results with Jijue counselor during the post- test counseling call, 
                    which will help the counselor to provide you relevant services and recommendations. 
                </p>

            </div>

            <div style="padding:0px 20px 0px 20px;margin-top: 20px;">
                <h2>Additional safeguards</h2>
                <p style="font-size: 16px; margin-top: 10px;">
                    - Jijue online client support team, including outreach workers and counselors, are trained in client confidentiality and have signed and are bound to a code of ethics.
                    <br>
                    - Clinical partners have signed an agreement with Jijue that allows for data security and data sharing with Jijue to protect clients.
                    <br>
                    - Jijue have trained clinical partners on the provision of stigma-free services for Jijue clients, including for key populations.
                    <br>
                     - Jijue collects feedback from clients about the clinical services they receive through Jijue and shares this anonymous feedback with clinical partners to improve their service delivery.
                    <br>
                    - Risk assessment responses are not shared with clinics.
                    <br>
                    - HIV test results are not shared from clinical partners to Jijue client support team ( outreach workers and counselors) Clients can choose whether to disclose their HIV status or HIV test results with Jijue counselors to receive support services that Jijue website uses a range of security measures to protect clients using Jijue and data stored on Jijue, including using SQL, an encrypted server, password protected user logins.
                </p>
            </div>
            
    </div>
</section>
           
        </main>
    </body>
        <!--===== FOOTER =====-->
        <footer class="footer">
            <p class="footer__title">Jijue</p>
            <div class="footer__social">
                <a href="#" class="footer__icon"><i class='bx bxl-facebook' ></i></a>
                <a href="#" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
                <a href="#" class="footer__icon"><i class='bx bxl-twitter' ></i></a>
            </div>
            
            <p>      
                Copyright
                    <script>
                        document.write(new Date().getFullYear());
                    </script> &#169; Jijue | All rigths reserved
                    <p>
                        <a href="{% url 'privacy' %}" class="footer__link" style="color: blue; text-decoration: underline;">Privacy & Policy</a> | 
                        <a href="{% url 'terms' %}" class="footer__link" style="color: blue; text-decoration: underline;">Terms of Use</a>
                    </p>
            </p> 
        </footer>

        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--===== MAIN JS =====-->
        <script src="{% static 'js/main.js' %}"></script>
    
</html>
