{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{% static 'styles/style.css' %}">

        <!-- =====BOX ICONS===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <title>Welcome</title>
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="#" class="nav__logo">Jijue</a>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="/" class="nav__link">Home</a></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">

            <!--===== SECTION =====-->
            <section class="contact section" id="contact">
                <h2 class="section-title">WELCOME TO JIJUE</h2>

                <div class="contact__container bd-grid">
                    
                    <p>
                    Welcome to our HIV Risk Assessment website, where you can take a quick and confidential test to determine your risk of contracting HIV.
                    Take the first step towards protecting your sexual health and start your HIV risk assessment today. Your result could be the key to a brighter, healthier future.
                    <br>
                    <br>

                                        
                    Jijue website was created by a multidisciplinary team of students from Jomo Kenyatta University
                    of Agriculture and Technology. The aim of the web app is to provide a user-friendly platform
                    for individuals to assess their HIV risk and connect them to Health Facilities for further management.
                    

                    <br>
                    <br>
                    
                        Jijue is a website application with an inbuilt Machine-learning model designed to predict a person’s risk of turning HIV positive. 
                        Risk is categorized as low, moderate or high risk after which recommendations are given based on a user’s risk.
                        Additionally, we offer nutritional tips, current statistics and VCT tracks of all available health facilities available within a user’s location. 
                        Our users also benefit from booking appointments to nearest VCTs of their choice at the comfort of their laptop or mobile device.
                    </P>

                   
                    
                    <div class="welcomeBtn"> <a href="{% url 'disclaimer-page' %}">Check risk</a></div>

                    <!-- <div>
                        <a href="" style="color: red;">No</a>
                            <button class="welcomeBtn" style="border-radius: 25px; height: 50px;"></button>
                        <a href="{% url 'disclaimer-page' %}">Yes</a>
                    </div> -->

                </div>
            </section>
        </main>
    </body>

<!--===== SCROLL REVEAL =====-->
<script src="https://unpkg.com/scrollreveal"></script>

<!--===== MAIN JS =====-->
<script src="{% static 'js/main.js' %}"></script>

        <!--===== FOOTER =====-->
        <footer class="footer">
            <p class="footer__title">Jijue</p>
            <div class="footer__social">
                <a href="#" class="footer__icon"><i class='bx bxl-facebook' ></i></a>
                <a href="#" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
                <a href="#" class="footer__icon"><i class='bx bxl-twitter' ></i></a>
            </div>
            <p class="footer__copy">&#169; Jijue | All rigths reserved | Privacy & Policy</p>
        </footer>
    
</html>
