{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
    <header class="l-header">
        <nav class="nav bd-grid">
          <div>
              <a href="#" class="nav__logo">Jijue</a>
          </div>
    
          <div class="nav__menu" id="nav-menu">
              <ul class="nav__list">
                  <li class="nav__item"><a href="/" class="nav__link">Home</a></li>
                  
                  {% if request.user.is_authenticated %}
                  <li class="nav__item" role="presentation">
                    <a class="nav__link" href="{% url 'manage' %}">Manage</a>
                  </li>
                  
                  <li class="nav__item" role="presentation">
                    <a href="{% url 'manage' %}" style="float: left;cursor:pointer;" aria-expanded="true" title="You have {{count}} new appointments">
                      <i class="far fa-bell"></i>
                  </a>
                  <span class="badge badge-danger">{{count}}</span>
                  </li>
                  {% endif %}
              </ul>
    
          </div>
          <div class="nav__toggle" id="nav-toggle">
              <i class='bx bx-menu'></i>
          </div>
        </nav>
      </header>
</body>
</html>